<div class="container" fxLayout="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0px">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div>
      <h3>Comments</h3>
    </div>
    <md-list>
      <md-list-item *ngFor="let comment of dish.comments">
        <p md-line>{{comment.comment}}</p>
        <p md-line>{{comment.rating}} star</p>
        <p md-line>-- {{comment.author}} {{comment.date | date}}</p>
      </md-list-item>
      <div [hidden]="commentForm.invalid">
        <md-list-item>
          <p md-line>{{commentForm.value.comment}}</p>
          <p md-line>{{commentForm.value.rating}} star</p>
          <p md-line>-- {{commentForm.value.author}}</p>
        </md-list-item>
        </div>
    </md-list>
  </div></div>
  <div fxFlex fxFlexOffset="20px" class="form-size" *ngIf="dish">
    <h3>Comment</h3>
    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width" dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text" required>
          <md-hint>
            <span [hidden]="!(formErrors.author)">
              {{ formErrors.author }}
            </span>
          </md-hint>
        </md-input-container>
      </p>
      <md-slider formControlName="rating" min=1 max=5 step=1 value=5 thumbLabel tickInterval=1></md-slider>
      <p>
        <md-input-container class="full-width" dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
          <textarea mdInput formControlName="comment" placeholder="Your Comment" rows=12 required></textarea>
          <md-hint>
            <span [hidden]="!(formErrors.comment)">
              {{ formErrors.comment }}
            </span>
          </md-hint>
        </md-input-container>
      </p>
      <button md-button type="submit" class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>