<div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-around center" fxLayoutGap="10px">

  <md-card fxFlex *ngIf="dish" [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <md-card-content>
      <p>{{dish.description}}</p>
    </md-card-content>
  </md-card>
  <div [hidden]="dish || dishErrMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{dishErrMess}}</h4>
  </div>

  <md-card fxFlex *ngIf="promotion" [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
    <md-card-content>
      <p>{{promotion.description}}</p>
    </md-card-content>
  </md-card>
  <div [hidden]="promotion || promotionErrMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="promotionErrMess">
    <h2>Error</h2>
    <h4>{{promotionErrMess}}</h4>
  </div>

  <md-card fxFlex *ngIf="leader" [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
    <md-card-content>
      <p>{{leader.description}}</p>
    </md-card-content>
  </md-card>
  <div [hidden]="leader || leaderErrMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="leaderErrMess">
    <h2>Error</h2>
    <h4>{{leaderErrMess}}</h4>
  </div>
</div>
